.playing {
    animation: playingTracks 1s infinite alternate;
}
.track {
    border-radius: 5px;
    width: 100%;
    display: grid;
    grid-template-columns: 3rem minmax(0, 2fr) minmax(0, 1fr) 1fr 3rem 3rem 3rem;
    padding: 0.25rem 0;
    transition: background-color 0.1s ease-in-out;
    position: relative;
    @media (max-width: 1024px) {
        grid-template-columns: 3rem minmax(0, 2fr) minmax(0, 1fr) 3rem 3rem 3rem;
    }
    @media (max-width: 768px) {
        grid-template-columns: minmax(0, 2fr) 3rem;
        padding: 0.3rem 0 0.3rem 0.3rem;
    }
    @media (max-width: 420px) {
        padding: 0.25rem 0 0.25rem 0.25rem;
    }
    &:hover {
        background-color: rgba((var(--color)), 0.1);
    }
    &.current &__index,
    &.playing &__index {
        color: rgba(var(--main-color), 1);
    }

    &__index {
        width: 100%;
        height: 3rem;
        display: flex;
        justify-content: center;
        align-items: center;
        color: rgb(var(--color), 0.8);
        button {
            cursor: pointer;
            padding: 0.5rem 0.5rem;
            background: none;
            outline: none;
            border: none;
            color: rgba((var(--color)), 0.5);
            &:hover,
            &:focus {
                color: rgb((var(--color)));
            }
        }
        @media (max-width: 768px) {
            display: none;
        }
    }

    &.current &__name_info__title,
    &.playing &__name_info__title {
        color: rgba(var(--main-color), 1);
    }

    &__name {
        max-width: 100%;
        display: flex;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;
        gap: 1rem;
        &_image {
            overflow: hidden;
            border-radius: 0.125rem;
            position: relative;
            min-width: 2.5rem;
            min-height: 2.5rem;
            width: 2.5rem;
            height: 2.5rem;
            @media (max-width: 768px) and (min-width: 420px) {
                min-width: 3rem;
                min-height: 3rem;
                width: 3rem;
                height: 3rem;
            }
            img {
                object-fit: cover;
            }
        }

        &_info {
            max-width: 80%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            gap: 0.5rem;
            @media (max-width: 1024px) {
                padding: 0 1rem 0 0;
            }
            @media (max-width: 768px) {
                padding: 0 2rem 0 0;
            }

            &__title {
                width: 100%;
                color: rgb((var(--color)));
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                transition: color 0.2s ease-in-out;
            }
            &__artist {
                width: 100%;
                font-size: 0.75rem;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                color: rgba((var(--color)), 0.7);
                button {
                    color: rgba((var(--color)), 0.7);
                    transition: color 0.2s ease-in-out;
                    cursor: pointer;
                    &:hover {
                        color: rgba((var(--color)));
                        text-decoration: underline;
                    }
                }
            }
        }
    }
    &__album {
        max-width: calc(100% - 1rem);
        display: flex;
        align-items: center;
        p {
            width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            color: rgba((var(--color)), 0.8);
            transition: color 0.2s ease-in-out;
            cursor: pointer;
            &:hover {
                color: rgb(var(--color));
                text-decoration: underline;
            }
        }
        @media (max-width: 768px) {
            display: none;
        }
    }
    &__date {
        display: flex;
        align-items: center;
        color: rgba((var(--color)), 0.8);
        @media (max-width: 1024px) {
            display: none;
        }
    }
    &__like {
        display: flex;
        justify-content: center;
        align-items: center;
        @media (max-width: 768px) {
            display: none;
        }
    }
    &__duration {
        display: flex;
        justify-content: center;
        align-items: center;
        color: rgba((var(--color)), 0.8);
        @media (max-width: 768px) {
            display: none;
        }
    }
    &__options {
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 100;
    }
    .features {
        visibility: hidden;
        opacity: 0;
        transition: opacity 0.1s ease-in-out;
        @media (max-width: 768px) {
            visibility: visible;
            opacity: 1;
        }
    }
    &:hover .features {
        visibility: visible;
        opacity: 1;
    }
}

@keyframes playingTracks {
    0% {
        box-shadow: 16px 0px 16px 0px rgba(var(--main-color), 0.1),
            -16px 0px 16px 0px rgba(var(--main-color), 0.1);
    }
    100% {
        box-shadow: 32px 0px 32px 0px rgba(var(--main-color), 0.25),
            -32px 0px 32px 0px rgba(var(--main-color), 0.25);
    }
}
