.wrapper {
    width: min-content;
    position: relative;
    &__options {
        width: max-content;
        position: absolute;
        top: calc(100%);
        right: 0;
    }
    &__user {
        display: flex;
        align-items: center;
        padding: 2px 0.5rem 2px 2px;
        gap: 0.5rem;
        border-radius: 2rem;
        transition: background-color 0.2s ease-in-out;
        cursor: pointer;
        background: rgba(var(--additionalMixColor), 0.7);
        color: rgba(var(--color), 1);
        &:hover,
        &.hover {
            background: rgba(var(--additionalMixColor), 1);
        }
        &_avatar {
            display: flex;
            position: relative;
            justify-content: center;
            align-items: center;
            background: #ddd;
            width: 2rem;
            height: 2rem;
            border-radius: 50%;
            overflow: hidden;
            //transition: all .2s ease-in-out;
            img {
                object-fit: cover;
            }
        }
        &_login {
            transition: color 0.2s ease-in-out;
            font-weight: 700;
            @media (max-width: 768px) {
                display: none;
            }
        }
        &_arrow {
            transition: color 0.2s ease-in-out;
            @media (max-width: 768px) {
                display: none;
            }
        }
        @media (max-width: 768px) {
            padding: 4px;
        }
    }
    .colorScheme {
        display: flex;
        align-items: center;
        div {
            width: 1rem;
            height: 1rem;
            border-radius: 50% !important;
            padding: 0 !important;
            transition: border 0.2s ease-in-out !important;
            border: 2px solid rgba(var(--color), 0);
            &:hover {
                border: 2px solid rgba(var(--color), 0.5);
            }
        }
        &__active {
            border: 2px solid rgba(var(--color), 0.5) !important;
        }
        @media (max-width: 768px) {
            & {
                flex-direction: column;
                div {
                    width: 1.5rem;
                    height: 1.5rem;
                    &:hover {
                        border: 4px solid rgba(var(--color), 0.5);
                    }
                }
                &__active {
                    border: 4px solid rgba(var(--color), 0.5) !important;
                }
            }
        }
    }
}
