.wrapper{
    width: min-content;
    position: relative;
    &__options{
        width: max-content;
        position: absolute;
        top: calc(100%);
        right: 0;
    }
    &__user{
        display: flex;
        align-items: center;
        padding: 2px .5rem 2px 2px;
        gap:.5rem;
        border-radius: 2rem;
        transition: background-color .2s ease-in-out;
        cursor: pointer;
        background: rgba(var(--background-color),.7);
        color:rgba(var(--color),1);
        &:hover, &.hover{
            background-color:rgba(var(--background-color),1);
        }
        &_avatar{
            display: flex;
            position: relative;
            justify-content: center;
            align-items: center;
            background: #ddd;
            width: 2rem;
            height: 2rem;
            border-radius: 50%;
            overflow: hidden;
            //transition: all .2s ease-in-out;
            img{
                object-fit: cover;
            }
        }
        &_login{
            transition: color .2s ease-in-out;
            
            font-weight: 700;
        }
        &_arrow{
            transition: color .2s ease-in-out;
            
        }
        
    }
    .colorScheme{
        display: flex;
        align-items: center;
        div{
            width: 1rem;
            height: 1rem;
            border-radius: 50%!important;
            padding: 0!important;
            transition: border .2s ease-in-out !important;
            border:2px solid rgba(var(--color),0);
            &:hover{
                border: 2px solid rgba(var(--color),.5)
            }
        }
        &__active{
            border:2px solid rgba(var(--color),.5) !important
        }
    }
}
