.sidebar__playlists {
    width: 90%;
    min-height: 10rem;
    display: block;
    position: relative;
    overflow-y: auto;
    &_rolled {
        & span {
            display: none;
        }
    }
    @media (max-width: 768px) {
        display: none;
    }
}
