.playlist{
    width: 100%;
    position: relative;
        &__header{
            
            display: flex;
            flex-wrap: nowrap;
            align-items:flex-end;
            padding: 2rem 2rem;
            gap: 2rem;
            background: linear-gradient(180deg, rgba(var(--main-color),.8) 0%, rgba(var(--main-color),.5) 100%);
            
            @media (max-width:"640px"){
                flex-direction: column;
                align-items: center;
            }
            &_image{
                min-width:14.5rem;
                height: 14.5rem;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: .25rem;
                overflow: hidden;
                @media (max-width:"420px"){
                    min-width:12rem;
                    height: 12rem;
                }
                &__wrapper{
                    width: 100%;
                    height: 100%;
                    position: relative;
                    img{
                        object-fit: cover;
                    }
                }
            }
            &_data{
                color:rgb(var(--color));
                width: 100%;
                transition: color .2s ease-in-out;
                display: flex;
                gap: .5rem;
                justify-content: flex-end;
                align-items: flex-start;
                flex-direction: column;
                
                &__type{
                    font-weight: 700;
                    color:rgba(var(--color),.7);
                    @media (max-width:"780px"){
                        display: none;
                    }
                }
                &__name{
                    width: fit-content;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    font-size: 5rem;
                    @media (max-width:"1536px"){
                        font-size: 4rem;
                    }
                    @media (max-width:"1024px"){
                        font-size: 3rem;
                    }
                    @media (max-width:"780px"){
                        font-size: 2rem;
                    }
                    @media (max-width:"420px"){
                        font-size: 1.25rem;
                    }
                }
                &__status{
                    color:rgba(var(--color),.7);
                    @media (max-width:"420px"){
                        font-size: .75rem;
                    }
                }
                &__info{
                    display: flex;
                    align-items: center;
                    flex-wrap: nowrap;
                    @media (max-width:"420px"){
                        font-size: .75rem;
                    }
                    .owner{
                        font-weight: 700;
                        &:hover{
                            cursor: pointer;
                            text-decoration: underline;
                        }
                    }
                    .counter{
                        &__tracks{

                        }
                        &__time{

                        }
                    }
                }
            }
        }
        &__songs{
            width: 100%;
            background: linear-gradient(0deg, rgba(var(--background-color),1) calc(100% - 12rem), rgba(var(--main-color),.3) 100%);
        }
    }