.playlist{
    width: 100%;
    position: relative;
        &__header{
            
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
            padding: 2rem 2rem;
            gap: 2rem;
            background: linear-gradient(180deg, rgba(var(--main-color),.8) 0%, rgba(var(--main-color),.5) 100%);
            
            &_image{
                min-width:14.5rem;
                height: 14.5rem;
                display: flex;
                justify-content: center;
                align-items: center;
                &__wrapper{
                    width: 100%;
                    height: 100%;
                    position: relative;
                    img{
                        object-fit: cover;
                        
                    }
                }
            }
            &_data{
                color:rgb(var(--color));
                width: 100%;
                transition: color .2s ease-in-out;
                &__type{
                    
                }
                &__name{
                    width: fit-content;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    font-size: calc(2vw + 3rem);
                    white-space: nowrap;
                }
                &__status{

                }
                &__info{
                    display: flex;
                    align-items: center;
                    flex-wrap: nowrap;
                    .owner{

                    }
                    .counter{
                        &__tracks{

                        }
                        &__time{

                        }
                    }
                }
            }
        }
        &__songs{
            width: 100%;
            background: linear-gradient(0deg, rgba(var(--background-color),1) calc(100% - 12rem), rgba(var(--main-color),.3) 100%);
        }
    }