
.sidebar__nav{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: .5rem;
    &_rolled{
        justify-content: center;
        & span{
            display: none;
        }
    }
    @media (max-width:640px){
        width: 90%;
        flex-direction: row;
    }
}