@property --hue {
    syntax: "<number>";
    inherits: true;
    initial-value: 0;
}
.playlist {
    width: 100%;
    position: relative;
    z-index: 0;
    &__header {
        display: flex;
        flex-wrap: nowrap;
        align-items: flex-end;
        padding: 2rem 2rem;
        gap: 2rem;
        background: linear-gradient(
            180deg,
            rgba(var(--main-color), 0.8) 0%,
            rgba(var(--main-color), 0.5) 100%
        );

        @media (max-width: "640px") {
            flex-direction: column;
            align-items: center;
        }
        &_image {
            min-width: 14.5rem;
            height: 14.5rem;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 0.25rem;
            box-shadow: 0 0 2rem 0 rgba(var(--background-color), 0.5);
            @media (max-width: "420px") {
                min-width: 12rem;
                height: 12rem;
            }
            .glow {
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 100%;
                transform: translateZ(0);
                border-radius: 0.2rem;
                overflow: hidden;
            }
            &__wrapper {
                width: 100%;
                height: 100%;
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 0.25rem;
                overflow: hidden;
                transform: translateZ(0);
                &::before,
                &::after {
                    content: "";
                    position: absolute;
                    z-index: -1;
                    pointer-events: none;
                }
                &::before {
                    animation: 4s rotate linear infinite;
                    width: 200%;
                    height: 200%;
                    background: var(--tile-border);
                }
                &::after {
                    inset: 0;
                    padding: 0.125rem;
                    border-radius: 0.25rem;
                    background-color: rgb(var(--additionalMixColor));
                    overflow: hidden;
                    background-clip: content-box;
                }
                i {
                    font-size: 6rem;
                    color: rgb(var(--main-color));
                    // animation: 7s rainbow linear infinite;
                }
            }
        }
        &_data {
            color: rgb(var(--color));
            width: 100%;
            transition: color 0.2s ease-in-out;
            display: flex;
            gap: 0.5rem;
            justify-content: flex-end;
            align-items: flex-start;
            flex-direction: column;

            &__type {
                font-weight: 700;
                color: rgba(var(--color), 0.7);
                @media (max-width: "780px") {
                    display: none;
                }
            }
            &__name {
                width: fit-content;
                overflow: hidden;
                text-overflow: ellipsis;
                font-size: 5rem;
                @media (max-width: "1536px") {
                    font-size: 4rem;
                }
                @media (max-width: "1024px") {
                    font-size: 3rem;
                }
                @media (max-width: "780px") {
                    font-size: 2rem;
                }
                @media (max-width: "420px") {
                    font-size: 1.25rem;
                }
            }
            &__status {
                color: rgba(var(--color), 0.7);
                @media (max-width: "420px") {
                    font-size: 0.75rem;
                }
            }
            &__info {
                display: flex;
                align-items: center;
                flex-wrap: nowrap;
                @media (max-width: "420px") {
                    font-size: 0.75rem;
                }
                .owner {
                    font-weight: 700;
                    &:hover {
                        cursor: pointer;
                        text-decoration: underline;
                    }
                }
                .counter {
                    &__tracks {
                    }
                    &__time {
                    }
                }
            }
        }
    }
    &__songs {
        width: 100%;
        background: linear-gradient(
            0deg,
            rgba(var(--background-color), 1) calc(100% - 12rem),
            rgba(var(--main-color), 0.3) 100%
        );
        margin-bottom: 0.5rem;
    }
    .observer {
        width: 90%;
        margin: 0 auto 2rem;
        height: 50px;
        pointer-events: none;
        border-radius: 0.5rem;
        overflow: hidden;
    }
}
@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}
@keyframes rainbow {
    0% {
        color: red;
    }
    12.5% {
        color: orange;
    }
    25% {
        color: gold;
    }
    37.5% {
        color: lightblue;
    }
    50% {
        color: blue;
    }
    62.5% {
        color: purple;
    }
    75% {
        color: lightcoral;
    }
    87.5% {
        color: green;
    }
    100% {
        color: red;
    }
}
