.sticky {
    width: 100%;
    position: sticky;
    top: 0;
    right: 0;
    z-index: 110;
}
.container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 2rem;
    gap: 1rem;

    &_routings {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        gap: 1rem;
        button {
            outline: none;
            border: 0;
            width: 2rem;
            height: 2rem;
            border-radius: 50%;
            background-color: rgba(var(--additionalMixColor), 1);
            color: rgba(var(--color), 1);
            opacity: 0.7;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            transition: opacity 0.2s ease-in-out;
            &:hover,
            &:focus {
                opacity: 1;
            }
        }
        @media (max-width: 768px) {
            display: none;
        }
    }
    &_handler {
        width: 100%;
        height: 3rem;
        overflow: hidden;
        text-overflow: ellipsis;
        display: flex;
        align-items: center;
        gap: 1rem;
        &__title {
            width: 100%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            color: rgba(var(--color), 1);
            font-size: 2rem;
            font-weight: 700;
        }
    }
}
.inspector-unit {
    width: 100%;
    background-color: rgba(var(--additionalMixColor), 1);
    border-bottom: 1px solid rgba(var(--color), 0.2);
    .cols {
        margin: 0 2rem;
        padding: 0.5rem 0;
        display: grid;
        grid-template-columns: 3rem minmax(0, 2fr) minmax(0, 1fr) 1fr 3rem 3rem 3rem;
        color: rgba(var(--color), 0.8);
        text-align: center;
        &__active {
            text-align: left;
            cursor: pointer;
            transition: color 0.2s ease-in-out;
            &:hover {
                color: rgba(var(--color), 1);
            }
        }
        @media (max-width: 1024px) {
            grid-template-columns: 3rem minmax(0, 2fr) minmax(0, 1fr) 3rem 3rem 3rem;
            .date {
                display: none;
            }
        }
        @media (max-width: 768px) {
            grid-template-columns: 3rem minmax(0, 2fr) 3rem 3rem 3rem;
            margin: 0 1rem;
            .album {
                display: none;
            }
        }
    }
    @media (max-width: 768px) {
        display: none;
    }
}
